@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.866);
}

.container {
  display: flex;
  width: 600px;
}

.aside {
  padding-right: 50px;
  padding-top: 30px;
  border-right: 1px solid #dedede;
  width: 30%;
}

.btn {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #eeee;
  border-radius: 4px;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.791);
}

main {
  width: 70%;
  padding: 0 30px;
}

.main-title,
.main-content {
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin-bottom: 20px;
}

.main-content {
  line-height: 1.8;
}
